.menu-container {
    width: 92vw;
    height: 6vh;

    display: flex;
    align-items: center;

    padding: 1vh 4vw;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 100;

    background-color: #FFF;
}

.menu-container p {
  font-size: 4vw;
}

.menu-container img {
    width: 24vw;
}

.menu-container .material-icons {
    font-size: 5vw;

}

.menu-container .what {
    width: 100px;
    height: 100px
}

.item-text {
  display: inline-flex;
}

#item-icon {
  margin-right: 3vw;
}


  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 9vw; 
    height: 7.5vw;
    right: 9vw;
    top: 4vw;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: hsl(229, 13%, 25%);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #6D3737;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-menu-wrap .bm-cross-button {
    height: 6vw;
    width: 6vw;

    top: 6vh;
    right: 2vw;

    z-index: 10000;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #647454;
    padding: 2.5em 1em 0;
    font-size: 1.15em;

    width: 100vw;

    position: fixed;
    top: 8vh;

    z-index: 2;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #EDE3D9;
    padding-top: 7vw;
  }
  
  /* Individual item */
  .bm-item {
    display: flex;
    
    align-items: baseline;
    
    color: #FFF;
    transition: 0.2s;

    border-style: none;
  }

  .bm-item:enabled {
    border-style: none;
  }

  .bm-item:hover {
    color: #6D3737;
  }

  .bm-item + .bm-item {
    margin-top: 7vw;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: #FFF;

    width: 100vw;

    left: 0;
    top:8vh
  }

@media screen and (min-width: 768px) {
  .menu-container {
    height: 8vh;
  }

  .bm-burger-button {
    position: fixed;
    width: 8vw;
    height: 5.5vw;
    right: 9vw;
    top: 5vw;
  }
    
}

@media screen and (min-width: 1440px) {
  .menu-container {
      width: 92vw;
      height: 10vh;
  }


  .menu-container img {
    width: 18vw;
  }
/* 
  .bm-burger-button {
    width: 5vw;
    height: 3.5vw;
    right: 9vw;
    top: 4vw;
  } */

  .menu-container p {
    font-size: 2vw;
  }

  .menu-container .material-icons {
    font-size: 3vw;
  }

  #item-icon {
    margin-right: 1vw;
  }
}
