.main-banner {
    background-image: url('../../img/bannerPrincipal.jpg');
    background-size: 220vw 90vh;
    background-position-x: center;
    background-repeat: no-repeat;
    color: #FFEEE7;

    font-size: 5.5vw;
    font-family: 'Courgette', cursive;

    height: 85.5vh;

    padding-top: 4.5vh;
    padding-bottom: 0;
    margin-top: 8vh;
}

@media screen and (min-width: 768px) {
    .main-banner {
        background-size: 160vw 90vh;
        font-size: 38px;
    }
}

@media screen and (min-width: 1024px) {
    .main-banner {
        /* background-size: 1440px 1160px; */
        font-size: 52px;
    }
}

@media screen and (min-width: 1440px) {
    .main-banner {
        /* background-size: 1720px 1180px; */
        font-size: 16vw;
    }
}

.main-banner .material-icons {
    font-size: 9vw;
    margin-top: 53vh;

    width: 92vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me {
    /* width: 96vw; */
    background-color: #EDE3D9;
    /* padding: 30px 4vw; */
    color: #6D3737;
}

.side-kick {
    margin-bottom: 6vw;
}

.highlight {
    margin-bottom: 8vw;
}

.about-me .title .side-kick {
    color: #6D3737;
}

.about-me .title .highlight-me {
    color: #461B19;
}

.text {
    margin-bottom: 7vw;
}

.about-me .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me .icons .icons-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7vw;
}

.about-me .icons .icons-unit .icon-container {
    height: 14vw;
    width: 14vw;

    background-color: #461B19;
    border-radius: 7vw;

    margin-bottom: 6vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me .icons h3 {
    text-align: center;
}

.about-me .icons .material-icons {
    font-size: 10vw;
    color: #EDE3D9;
}

.about-me .button {
    border-color: #6D3737; 
    background-color: #EDE3D9;
}

.about-me .button a {
    text-decoration: none;
    color: #6D3737;
}

.about-us {
    background-color: #A5736A;

    color: #FFEEE7;
}

.about-us .title .highlight{
    color: #461B19;
}

.about-us .button {
    border-color: #FFEEE7; 
    background-color: #A5736A;


}

.about-us .button a {
    text-decoration: none;
    color: #FFEEE7;
}

.examples {
    background-color: #FFF;

    color: #6D3737;
}

.examples b.highlight {
    color: #000;
}

.examples .text {
    color: #000;
}

.examples .button {
    border-color: #6D3737; 
    background-color: #FFF;
}

.examples .button a {
    text-decoration: none;
    color: #6D3737;
}

.process {
    background-color: #461B19;

    color: #EDE3D9;

    padding-bottom: 12vw;
}

.budget {
    background-color: #EDE3D9;

    color: #EDE3D9;

    padding-top: 0;
}

.budget .budget-card {
    background-color: #461B19;

    padding-top: 10vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 7vw;
}

.budget .budget-card .button {
    background-color: #461B19;

    border-color: #EDE3D9;

    transition: .2s;
}

.budget .budget-card .button:hover {
    background-color:  #EDE3D9;

    border-color: #461B19;
}

.budget .budget-card .button a{
    color: #EDE3D9;

    transition: .2s;
}

.budget .budget-card .button:hover a{
    color: #461B19;
}

.form {
    background-color:  #EDE3D9;
    color: #461B19;
}

.form .title {
    margin-bottom: 7vw;
}

.form form input {
    height: 7vw;
}

.form form input,
.form form textarea { 
    background-color: #EDE3D9;

    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-color: #461B19;

    margin-bottom: 7vw;

    width: 92vw;
}

.form form textarea {
    resize: vertical;
}

.form form .button-submit {
    height: 13.5vw;
    width: 41.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: .5vw;
    border-radius: 6.75vw;
    border-color:#EDE3D9; 
    background-color: #6D3737;

    font-size: 5vw;
    color: #EDE3D9;
    
    margin: 10vw auto 2.5vw auto;

    transition: .2s;
}

.form form .button-submit:hover {
    border-color:#6D3737; 
    background-color: #EDE3D9;

    color: #6D3737;
}
