
.process-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin-bottom: 7vw;
}

.process-item .material-icons {
    font-size: 14vw;
    margin-bottom: 5vw;
}

.process-item .item-title {
    margin-bottom: 5vw;
}

.process-item p {
    font-size: 5vw;
}

@media screen and (min-width: 768px) {
    .process-item p {
        font-size: 4.5vw;
    }

    .process-item .material-icons {
        font-size: 12vw;
        margin-bottom: 5vw;
    }
}


@media screen and (min-width: 1440px) {
    .process-item p {
        font-size: 3.5vw;
    }

    .process-item .material-icons {
        font-size: 10vw;
        margin-bottom: 5vw;
    }
}