.services {
    background-color: #A5736A;

    color: #FFEEE7;

    padding-bottom: 7.5vw;

    margin-top: 10vh;
}

.services p {
    font-size: 4.5vw;
    margin-bottom: 0;
}

.services .side-kick {
   margin-bottom: 0; 
}

.services .highlight {
    color: #461B19;
}

.service-complete {
    width: 100vw;
    background-color: #A5736A;

    padding: 7.5vw 0 0 0;
}

.service-complete .content {
    background-color: #EDE3D9; 
    padding: 7.5vw 4vw;

    border-radius: 0 90px 0 0;

    color: #6D3737;

}

.service-complete .content p {
    font-size: 4.5vw;
}

.service-complete .content .title {
    margin-bottom: 7.5vw;
}

.service-complete .content .button {
    transition: .2s;
}

.service-complete .content .button:hover {
    background-color: #6D3737; 

    border-color: #EDE3D9;
}

.service-complete .content .button a{
    color: #6D3737;
    transition: .2s;

}

.service-complete .content .button:hover a{
    color: #EDE3D9;
}

.service-medium {
    width: 100vw;
    background-color: #EDE3D9;

    padding: 7.5vw 0 0 0;
}

.service-medium .content {
    background-color: #A5736A; 
    padding: 7.5vw 4vw;

    border-radius: 90px 0 0 0;

    color: #FFEEE7;
}

.service-medium .content .title {
    margin-bottom: 7.5vw;
    text-align: end;
}

.service-medium .content p {
    font-size: 4.5vw;
}

.service-medium .content .button {
    background-color: #A5736A;
    border-color: #FFEEE7;
    transition: .2s;
}

.service-medium .content .button:hover {
    background-color: #FFEEE7; 

    border-color: #A5736A;
}

.service-medium .content .button a{
    color: #FFEEE7;
    transition: .2s;
}

.service-medium .content .button:hover a{
    color: #A5736A;
}

.service-final {
    width: 100vw;
    background-color: #A5736A;

    padding: 7.5vw 0 0 0;
}

.service-final .content {
    background-color: #EDE3D9; 
    padding: 7.5vw 4vw;

    border-radius: 90px 0 0 0;

    color: #6D3737;
}

.service-final .content .title {
    margin-bottom: 7.5vw;
    text-align: end;
}

.service-final .content p {
    font-size: 4.5vw;
}

.service-final .content .button {
    background-color: #EDE3D9;
    border-color: #6D3737;
    transition: .2s;
}

.service-final .content .button:hover {
    background-color: #6D3737; 

    border-color: #EDE3D9;
}

.service-final .content .button a{
    color: #6D3737;
    transition: .2s;
}

.service-final .content .button:hover a{
    color: #EDE3D9;
}

.budget-chat .services {
    padding-bottom: 0;
}

.budget-chat .service-complete .content{
    padding-bottom: 60vh;
}
