.knowMore .about-me {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20;
    padding-top: 30px;
    margin-top: 10vh;

    width: 100vw;
}

.knowMore .about-me .content {
    padding-left: 4vw;
    padding-right: 4vw;
}

.main-img {
    width: 100vw;
}

.budget-about {
    background-color: #ede3d9;
    
    padding-top: 40px;

    color: #461B19;
}

.budget-about .button {
    background-color: #ede3d9;
    transition: .2s;
}

.budget-about .button a{
    text-decoration: none;
    transition: .2s;
    color: #461B19;
}

.budget-about .button:hover a{
    color: #FFEEE7;
}

.budget-about .button:hover {
    background-color:  #461B19;

    border-color: #FFEEE7;
}