.footer {
    background-color: #647454;
    color: #EDE3D9;

    width: 84vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 6vw;
    padding-right: 8vw;
    padding-bottom: 12vw;
    padding-left: 8vw;
}

.footer .info {
    width: 82vw;
    margin-bottom: 12vw;
}

.footer .info .icon-container {
    background-color: #EDE3D9;
    border-radius: 8vw;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 16vw;
    width: 16vw;

    margin-bottom: 5vw;
    
}

.footer .info .icon-container .material-icons {
    font-size: 12vw;
    color:  #647454;
}

.footer .info .text {
    font-size: 5vw;
}

.footer .info .time {
    font-size: 5vw;
}

.footer .info .sub-text {
    font-size: 4vw;
    margin-bottom: 8vw;
}

.footer .info .socials img {
    height: 7.5vw;
    width: 7.5vw;
    
}

.footer .info .socials {
    display: flex;
}

.footer .info .socials .icon-container {
    height: 12vw;
    width: 12vw;
}

.footer .info .socials .icon-container + .icon-container {
    margin-left: 7vw;
}

.footer .logo-icon {
    height: 27vw;
    width: 27vw;
}

@media screen and (min-width: 768px) {
    .footer .info .icon-container {
        height: 12vw;
        width: 12vw;

    }
    
    .footer .info .icon-container .material-icons {
        font-size: 10vw;
        color:  #647454;
    }
    
    .footer .info .text {
        font-size: 4vw;
    }
    
    .footer .info .time {
        font-size: 4vw;
    }
    
    .footer .info .sub-text {
        font-size: 4vw;
        margin-bottom: 8vw;
    }
    
    .footer .info .socials img {
        height: 6vw;
        width: 6vw;
        
    }
    
    .footer .info .socials .icon-container {
        height: 10vw;
        width: 10vw;
    }
    
    .footer .info .socials .icon-container + .icon-container {
        margin-left: 7vw;
    }
    
    .footer .logo-icon {
        height: 27vw;
        width: 27vw;
    }
}

@media screen and (min-width: 1440px) {
    .footer .info .icon-container {
        height: 10vw;
        width: 10vw;

    }
    
    .footer .info .icon-container .material-icons {
        font-size: 8vw;
        color:  #647454;
    }
    
    .footer .info .text {
        font-size: 3vw;
    }
    
    .footer .info .time {
        font-size: 3vw;
    }
    
    .footer .info .sub-text {
        font-size: 3vw;
        margin-bottom: 6vw;
    }
    
    .footer .info .socials img {
        height: 4vw;
        width: 4vw;
        
    }
    
    .footer .info .socials .icon-container {
        height: 8vw;
        width: 8vw;
    }
    
    .footer .info .socials .icon-container + .icon-container {
        margin-left: 7vw;
    }
    
    .footer .logo-icon {
        height: 22vw;
        width: 22vw;
    }
}