.cards {
    padding-bottom: 0;

    margin-top: 10vh;
}

.cards .title .side-kick {
    color: #6D3737;
}

.cards .title .highlight {
    color: #000;
}

.sayings-budget {
    background-color: #461B19;

    color: #EDE3D9;
}

.sayings-budget .button {
    background-color: #461B19;
    border-color: #EDE3D9;

    transition: .2s;
}

.sayings-budget .button a {
    color: #EDE3D9;

    transition: .2s;
}

.sayings-budget .button:hover {
    background-color: #EDE3D9;
    border-color: #461b19;
}

.sayings-budget .button:hover a {
    color: #461b19;
}