body {
    width: 100vw;

    margin: 0;
    padding: 0;
    font-size: 4.7vw;
    font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

p {
    font-size: 6.5vw;
}

h1 {
    font-size: 12vw;
    font-weight: bold;
}

section {
    width: 92vw;
    padding: 4.5vh 4vw;
}

label {
    font-size: 5vw;
}

.button {
    height: 13.5vw;
    width: 41.5vw;

    display: flex;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: .5vw;
    border-radius: 6.75vw;
    border-color: #6D3737; 
    background-color: #EDE3D9;

    margin: 10vw auto 2.5vw auto;
    
    transition: .2s;
}

.button:hover {
    border-color:#6D3737; 
    background-color: #EDE3D9;
}

a {
    text-decoration: none;
}   

@media screen and (min-width: 768px) {
    h1 {
        font-size: 10vw;
    }
    p {
        font-size: 5.5vw;
    }

}

@media screen and (min-width: 1024px) {
   
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 4vw;
    }
    p {
        font-size: 2vw;
    }
}