.card-border {
    border-style: solid;
    border-radius: 3vw;
    border-width: .03vw;
    border-color: #6D3737;

    color: #6D3737;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 7vw;
}

.card-border .title {
    font-weight: normal;
}

.card-border .quote {
    margin-bottom: 7vw;
}

.card-border img {
    border-radius: 3vw;
    margin-bottom: 2vw;

    width: 70vw;
}