.card {
    width: 83vw; 
    padding: 7vw 4vw;

    border-style: solid;
    border-radius: 3vw;
    border-width: .1px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 15vw;
}

.card .title {
    text-align: center;
    font-size: 6vw;

    margin-bottom: 5vw;
}

.card img {
    height: 52.5vw;
    width: 75vw;
    border-radius: 3vw;
    margin-bottom: 5vw;
}

.card .text {
    font-size: 4vw;
}

.card .signature {
    text-align: end;
    font-weight: normal;
}
